
.container {
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        background-color: rgb(247, 247, 247);

    }


    .search_button {
        background: none;
        border: none;
    }

    img {
        height: 25px;
    }

}